/*=====================メインページ======================*/
/*タイトルのテキストの動き*/
.eachTextAnime span{opacity: 0;}
.eachTextAnime.appeartext span{ animation:text_anime_on 1s ease-out forwards; }
@keyframes text_anime_on {
	0% {opacity:0;}
	100% {opacity:1;}
}

.title{
    z-index: 2;
    text-align: center;
    padding-top: 50px;
    font-family: 'Rampart One', cursive;
    position: relative;
    color: #565656;
    font-size: 3rem;
   
}

.arrow{
    width: 30px;
    height: 30px;
    border: 5px solid;
    border-color: yellow yellow transparent transparent;
    transform: rotate(45deg);
  }
  .arrow1{
    width: 40px;
    height: 40px;
    border: 5px solid;
    border-color: #565656 #565656 transparent transparent;
    transform: rotate(45deg);
  }
  .arrow2{
    width: 50px;
    height: 50px;
    border: 5px solid;
    border-color: yellow yellow transparent transparent;
    transform: rotate(45deg);
  }
  .arrow3{
    width: 60px;
    height: 60px;
    border: 5px solid;
    border-color: #565656 #565656 transparent transparent;
    transform: rotate(45deg);
  }

  /*矢印をくるっとさせる*/

  /* 　Y 軸（横へ） */
.rotateY{
	animation-name:rotateYAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
}

@keyframes rotateYAnime{
	from{
		transform: rotateY(0);
		}
	to{
		transform: rotateY(-360deg);
		}
}

.content{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.rotateY{
    display: flex;
}
.mail-area{
    text-align: center;
}
.new-area{
    text-align: center;
}

#textarea3{
    outline: royalblue solid 2px;
    height: 60vh;
    width: 400px;
    
}
#textarea3:focus{
        outline:thick double yellow ;
}

.form{
    outline: royalblue solid 2px;
    height: 60vh;
    width: 400px;
    
}
.form:focus{
        outline:thick double yellow ;
}

.button{
text-align: center;
flex-direction: column;
margin-top: 220px;
}

.btn{
  margin-top: 50px;
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.btn:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .btn {
    padding: 16px 48px;
  }
}

h2{
    font-family: 'Noto Serif', serif;
    font-weight: 800;
    margin-bottom: 10px;
}

html,body{
	height: 100%;/*高さを100%にして描画エリアをとる*/
}

#particles-js{ 
	position:fixed;/*描画固定*/
	z-index:-1;/*描画を一番下に*/
	width: 100%;
	height: 100%;
	background-color:rgba(35, 202, 163, 0.6);/*背景色*/
}

#wrapper{
	position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
	z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
	width:100%;
	height: 100%;
}